@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "box-shadow.css";
@import "carousel.css";
@import "custom.css";

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.fslightbox-slide-number-container,
.fslightbox-slide-btn-container.fslightbox-slide-btn-container-previous,
.fslightbox-slide-btn-container.fslightbox-slide-btn-container-next {
    display: none !important;
}

:target:before {
    content: "";
    display: block;
    height: 100px;
    margin: -100px 0 0;
}
